@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #777;
  margin: 0;
}

img {
  display: block;
  width: 5rem;
  margin: 1.5rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

a {
  text-decoration: none;
  background-color: #444;
  color: #fff;
  padding: .5rem;
  width: 7rem;
}

ul {
  list-style-type: none;
}

/* li {
  justify-content: flex-start;
} */

h2 {
  padding: 2rem;
  text-align: center;
}

hgroup {
  display: block;
  align-items: center;
  width: 16rem;
}

h3, h4 {
  margin: 0;
}

p {
  width: 24rem;
}
